<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjjt.attendance.dao.AnnouncementDao">
    <!--发布公告-->
    <insert id="InsertAnnouncement" parameterType="java.util.Map">
        INSERT INTO `attendance`.`announcement` (`conglomerate_id`, `company_id`, `title`, `content`, `uptime`, `uptimeC`) VALUES (#{conglomerate_id}, #{company_id}, #{title}, #{content}, #{uptime}, #{uptimeC});
    </insert>

    <!--删除公告-->
    <delete id="DeleteAnnouncement" parameterType="java.util.Map">
        DELETE FROM `attendance`.`announcement` WHERE `id`=#{id}
    </delete>

    <!--查询公告-->
    <select id="FindAnnouncement" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Announcement">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT a.`id`, a.`conglomerate_id`, a.`company_id`, a.`title`, a.`content`, a.`uptime`, a.`uptimeC`,a.`read_count`, l.`company_name` as `company_name` FROM `attendance`.`announcement` a
        LEFT JOIN `attendance`.`company` l ON a.`company_id`=l.`id`
        WHERE a.`conglomerate_id`=#{conglomerate_id}
        ORDER BY a.`uptime` DESC
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(id) FROM `attendance`.`announcement` WHERE `conglomerate_id`=#{conglomerate_id}
    </select>

    <!--修改阅读量-->
    <update id="UpdateReadCount" parameterType="java.util.Map">
        UPDATE `attendance`.`announcement` SET `read_count`=#{read_count}+1 WHERE `id`=#{id}
    </update>

    <!--根据id查询公告信息-->
    <select id="FindAnnouncementById" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Announcement">
        SELECT a.`id`, a.`conglomerate_id`, a.`company_id`, a.`title`, a.`content`, a.`uptime`, a.`uptimeC`, a.`read_count`, l.`company_name` as `company_name` FROM `attendance`.`announcement` a
        LEFT JOIN `attendance`.`company` l ON a.`company_id`=l.`id`
        WHERE a.`id`=#{id}
    </select>
</mapper>