<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjjt.attendance.dao.DepartmentDao">
    <!--增加部门-->
    <insert id="InsertDepartment" parameterType="java.util.Map">
        INSERT INTO `attendance`.`department` (`conglomerate_id`, `company_id`, `department_name`)
        VALUES (#{conglomerate_id}, #{company_id}, #{department_name});
    </insert>

    <!--删除部门-->
    <delete id="DeleteDepartment" parameterType="java.util.Map">
        DELETE FROM `attendance`.`department` WHERE `id`=#{id}
    </delete>

    <!--修改部门信息-->
    <update id="UpdateDepartment" parameterType="java.util.Map">
        UPDATE `attendance`.`department` SET `department_name`=#{department_name} WHERE (`id`=#{id});
    </update>

    <!--查询部门信息-->
    <select id="FindDepartment" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Department">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT d.`id`, d.`conglomerate_id`, d.`company_id`, d.`person_count`, d.`department_name`, a.`company_name` as `company_name` FROM `attendance`.`department` d
        LEFT JOIN `attendance`.`company` a ON d.`company_id`=a.`id`
        <where>
            d.`conglomerate_id`=#{conglomerate_id}
            <if test="company_id!=null">
                `company_id`=#{company_id}
            </if>
        </where>
        order by d.`company_id` desc
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(id) FROM `attendance`.`department`
        <where>
            `conglomerate_id`=#{conglomerate_id}
            <if test="company_id!=null">
                `company_id`=#{company_id}
            </if>
        </where>
    </select>

    <!--下拉框查询部门信息-->
    <select id="SelectDepartment" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Department">
        SELECT d.`id`, d.`conglomerate_id`, d.`company_id`, d.`department_name`, a.`company_name` as `company_name` FROM `attendance`.`department` d
        LEFT JOIN `attendance`.`company` a ON d.`company_id`=a.`id`
        WHERE d.`company_id`=#{company_id}
    </select>

    <!--根据id查询部门信息-->
    <select id="FindDepartmentById" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Department">
        SELECT d.`id`, d.`conglomerate_id`, d.`company_id`, d.`department_name`,d.`person_count` FROM `attendance`.`department` d
        WHERE d.`id`=#{department_id}
    </select>

    <!--修改部门人数-->
    <update id="UpdatePersonCount" parameterType="java.util.Map">
        UPDATE `attendance`.`department` SET `person_count`=#{person_countD} WHERE (`id`=#{department_id});
    </update>
</mapper>