<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjjt.attendance.dao.ExamineDao">
    <!--新建审批-->
    <insert id="InsertExamine" parameterType="com.jjjt.attendance.entity.Examine">
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `attendance`.`examine` (`staff_id`, `itmes_id`, `company_id`, `conglomerate_id`, `examine_type`, `content`, `uptime`, `uptimeC`, `expenses_type`, `expenses_sum`, `procurement_type`, `procurement_sum`, `expenses_picture`, `outtime`, `outtimeC`, `intime`, `intimeC`, `outaddress`, `start_time`, `start_timeC`, `end_time`, `end_timeC`)
        VALUES (#{staff_id}, #{itmes_id}, #{company_id}, #{conglomerate_id}, #{examine_type}, #{content}, #{uptime}, #{uptimeC}, #{expenses_type}, #{expenses_sum},  #{procurement_type}, #{procurement_sum}, #{expenses_picture}, #{outtime}, #{outtimeC}, #{intime}, #{intimeC}, #{outaddress}, #{start_time}, #{start_timeC}, #{end_time}, #{end_timeC});
    </insert>

    <!--删除审批-->
    <delete id="DeleteExamine" parameterType="java.util.Map">
        DELETE FROM `attendance`.`examine` WHERE `id`=#{id}
    </delete>

    <!--分页查询审批信息-->
    <select id="FindExamine" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Examine">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT e.`id`, e.`staff_id`, e.`company_id`, e.`conglomerate_id`, e.`itmes_id`, e.`examine_type`, e.`content`, e.`uptime`, e.`uptimeC`, e.`expenses_type`, e.`expenses_sum`, e.`procurement_type`, e.`procurement_sum`, e.`expenses_picture`, e.`outtime`, e.`outtimeC`, e.`intime`, e.`intimeC`, e.`outaddress`, e.`start_time`, e.`start_timeC`, e.`end_time`, e.`end_timeC`,e.`state`,s.`staff_name` as `staff_name`, l.`company_name` as `company_name`,z.`items_name` as `client_company` FROM  `attendance`.`examine` e
        LEFT JOIN `attendance`.`staff` s ON e.`staff_id`=s.`id`
        LEFT JOIN `attendance`.`company` l ON e.`company_id`=l.`id`
        LEFT JOIN `attendance`.`items` z ON e.`itmes_id`=z.`id`
        <where>
            e.`conglomerate_id`=#{conglomerate_id}
            <if test="examine_type!=null">
                and e.`examine_type`=#{examine_type}
            </if>
        </where>
        ORDER BY e.`uptime` DESC
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(id) FROM `attendance`.`examine`
        <where>
            `conglomerate_id`=#{conglomerate_id}
            <if test="examine_type!=null">
                and `examine_type`=#{examine_type}
            </if>
        </where>
    </select>

    <!--查询个人审批记录-->
    <select id="FindExamineByStaffId" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Examine">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT e.`id`, e.`staff_id`, e.`company_id`, e.`conglomerate_id`, e.`itmes_id`, e.`examine_type`, e.`content`, e.`uptime`, e.`uptimeC`, e.`expenses_type`, e.`expenses_sum`, e.`procurement_type`, e.`procurement_sum`, e.`expenses_picture`, e.`outtime`, e.`outtimeC`, e.`intime`, e.`intimeC`, e.`outaddress`, e.`start_time`, e.`start_timeC`, e.`end_time`, e.`end_timeC`,e.`state`,s.`staff_name` as `staff_name`, l.`company_name` as `company_name`,z.`items_name` as `client_company` FROM  `attendance`.`examine` e
        LEFT JOIN `attendance`.`staff` s ON e.`staff_id`=s.`id`
        LEFT JOIN `attendance`.`company` l ON e.`company_id`=l.`id`
        LEFT JOIN `attendance`.`items` z ON e.`itmes_id`=z.`id`
        <where>
            e.`staff_id`=#{staff_id}
            <if test="examine_type!=null">
                and e.`examine_type`=#{examine_type}
            </if>
            <if test="state!=null and state!=''">
                and e.`state`=#{state}
            </if>
        </where>
        ORDER BY e.`uptime` DESC
        limit #{page},#{pageSize}
    </select>

    <!--统计个人审批总数-->
    <select id="TotalByStaffId" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(id) FROM `attendance`.`examine`
        <where>
            `staff_id`=#{staff_id}
            <if test="examine_type!=null">
                and `examine_type`=#{examine_type}
            </if>
            <if test="state!=null and state!=''">
                and `state`=#{state}
            </if>
        </where>
    </select>

    <!--审核通过-->
    <update id="UpdateStateT" parameterType="java.util.Map">
        UPDATE `attendance`.`examine` SET `state`='通过' WHERE (`id`=#{id});
    </update>

    <!--审核未通过-->
    <update id="UpdateStateW" parameterType="java.util.Map">
        UPDATE `attendance`.`examine` SET `state`='未通过' WHERE (`id`=#{id});
    </update>

    <!--根据id查询审批信息-->
    <select id="FindExamineById" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Examine">
        SELECT e.`id`, e.`staff_id`, e.`company_id`, e.`conglomerate_id`, e.`itmes_id`, e.`examine_type`, e.`content`, e.`uptime`, e.`uptimeC`, e.`expenses_type`, e.`expenses_sum`, e.`procurement_type`, e.`procurement_sum`, e.`expenses_picture`, e.`outtime`, e.`outtimeC`, e.`intime`, e.`intimeC`, e.`outaddress`, e.`start_time`, e.`start_timeC`, e.`end_time`, e.`end_timeC`,e.`state`,s.`staff_name` as `staff_name`, l.`company_name` as `company_name`,z.`items_name` as `client_company` FROM  `attendance`.`examine` e
        LEFT JOIN `attendance`.`staff` s ON e.`staff_id`=s.`id`
        LEFT JOIN `attendance`.`company` l ON e.`company_id`=l.`id`
        LEFT JOIN `attendance`.`items` z ON e.`itmes_id`=z.`id`
        WHERE e.`id`=#{id}
    </select>

    <!--根据id查询审批信息(App)-->
    <select id="FindExamineByIdApp" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Examine">
        SELECT e.`id`, e.`staff_id`, e.`company_id`, e.`conglomerate_id`, e.`itmes_id`, e.`examine_type`, e.`content`, e.`uptime`, e.`uptimeC`, e.`expenses_type`, e.`expenses_sum`, e.`procurement_type`, e.`procurement_sum`, e.`expenses_picture`, e.`outtime`, e.`outtimeC`, e.`intime`, e.`intimeC`, e.`outaddress`, e.`start_time`, e.`start_timeC`, e.`end_time`, e.`end_timeC`,e.`state`,s.`staff_name` as `staff_name`, l.`company_name` as `company_name`,z.`items_name` as `client_company` FROM  `attendance`.`examine` e
        LEFT JOIN `attendance`.`staff` s ON e.`staff_id`=s.`id`
        LEFT JOIN `attendance`.`company` l ON e.`company_id`=l.`id`
        LEFT JOIN `attendance`.`items` z ON e.`itmes_id`=z.`id`
        <where>
            e.`id`=#{id}
            <if test="state!=null and state!=''">
                and e.`state`=#{state}
            </if>
            <if test="examine_type!=null">
                and `examine_type`=#{examine_type}
            </if>
        </where>
    </select>
</mapper>