<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjjt.attendance.dao.ProjectDao">
    <!--增加项目-->
    <insert id="InsertProject" parameterType="com.jjjt.attendance.entity.Project">
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `attendance`.`project` (`conglomerate_id`, `items_id`, `staff_id`, `participant`, `project_name`, `start_time`, `start_timeC`, `end_time`, `end_timeC`, `amount`, `uptime`, `uptimeC`)
        VALUES (#{conglomerate_id}, #{items_id}, #{staff_id}, #{participant}, #{project_name}, #{start_time}, #{start_timeC}, #{end_time}, #{end_timeC}, #{amount}, #{uptime}, #{uptimeC});
    </insert>

    <!--删除项目-->
    <delete id="DeleteProject" parameterType="java.util.Map">
        DELETE FROM `attendance`.`project` WHERE `id`=#{id}
    </delete>

    <!--修改项目-->
    <update id="UpdateProject" parameterType="java.util.Map">
        UPDATE `attendance`.`project`
        <trim prefix="SET" suffixOverrides=",">
            <if test="staff_id!=null and staff_id!=''">
                `staff_id`=#{staff_id},
            </if>
            <if test="project_name!=null and project_name!=''">
                `project_name`=#{project_name},
            </if>
            <if test="start_time!=null and start_time!=''">
                `start_time`=#{start_time},
            </if>
            <if test="start_timeC!=null and start_timeC!=''">
                `start_timeC`=#{start_timeC},
            </if>
            <if test="end_time!=null and end_time!=''">
                `end_time`=#{end_time},
            </if>
            <if test="end_timeC!=null and end_timeC!=''">
                `end_timeC`=#{end_timeC},
            </if>
            <if test="amount!=null and amount!=''">
                `amount`=#{amount},
            </if>
            <if test="uptime!=null and uptime!=''">
                `uptime`=#{uptime},
            </if>
            <if test="uptimeC!=null and uptimeC!=''">
                `uptimeC`=#{uptimeC}
            </if>
        </trim>
        WHERE (`id`=#{id});
    </update>

    <!--分页模糊查询项目信息-->
    <select id="FindProject" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Project">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT p.`id`, p.`conglomerate_id`, p.`items_id`, p.`staff_id`, p.`participant`, p.`project_name`, p.`start_time`, p.`start_timeC`, p.`end_time`, p.`end_timeC`, p.`amount`, p.`uptime`, p.`uptimeC`, i.`items_name` AS `items_name`, s.`staff_name` AS `staff_name` FROM `attendance`.`project` p
        LEFT JOIN `attendance`.`items` i ON p.`items_id`=i.`id`
        LEFT JOIN `attendance`.`staff` s ON p.`staff_id`=s.`id`
        <where>
                p.`conglomerate_id`=#{conglomerate_id}
            <if test="items_name!=null and items_name!=''">
                and i.`items_name` like concat("%",#{items_name},"%")
            </if>
            <if test="project_name!=null and project_name!=''">
                and p.`project_name` like concat("%",#{project_name},"%")
            </if>
            <if test="start!=null and end!=null">
                and  p.`uptime` &gt;= #{start} and p.`uptime` &lt;= #{end}
            </if>
        </where>
        ORDER BY p.`uptime` DESC
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(p.id) FROM `attendance`.`project` p
        LEFT JOIN `attendance`.`items` i ON p.`items_id`=i.`id`
        <where>
            p.`conglomerate_id`=#{conglomerate_id}
            <if test="items_name!=null and items_name!=''">
                and i.`items_name` like concat("%",#{items_name},"%")
            </if>
            <if test="project_name!=null and project_name!=''">
                and p.`project_name` like concat("%",#{project_name},"%")
            </if>
            <if test="start!=null and end!=null">
                and  p.`uptime` &gt;= #{start} and p.`uptime` &lt;= #{end}
            </if>
        </where>
    </select>

    <!--分页查询个人项目信息-->
    <select id="FindProjectByStaffId" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Project">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT p.`id`, p.`conglomerate_id`, p.`items_id`, p.`staff_id`, p.`participant`, p.`project_name`, p.`start_time`, p.`start_timeC`, p.`end_time`, p.`end_timeC`, p.`amount`, p.`uptime`, p.`uptimeC`, i.`items_name` AS `items_name`, s.`staff_name` AS `staff_name` FROM `attendance`.`project` p
        LEFT JOIN `attendance`.`items` i ON p.`items_id`=i.`id`
        LEFT JOIN `attendance`.`staff` s ON p.`staff_id`=s.`id`
        <where>
            p.`staff_id`=#{staff_id}
            <if test="items_name!=null and items_name!=''">
                and i.`items_name` like concat("%",#{items_name},"%")
            </if>
            <if test="project_name!=null and project_name!=''">
                and p.`project_name` like concat("%",#{project_name},"%")
            </if>
        </where>
        ORDER BY p.`uptime` DESC
        limit #{page},#{pageSize}
    </select>

    <!--统计总数_个人-->
    <select id="TotalByStaffId" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(p.id) FROM `attendance`.`project` p
        LEFT JOIN `attendance`.`items` i ON p.`items_id`=i.`id`
        <where>
            p.`staff_id`=#{staff_id}
            <if test="items_name!=null and items_name!=''">
                and i.`items_name` like concat("%",#{items_name},"%")
            </if>
            <if test="project_name!=null and project_name!=''">
                and p.`project_name` like concat("%",#{project_name},"%")
            </if>
        </where>
    </select>

    <!--查询个人项目信息-->
    <select id="FindProjectByStaffIdB" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Project">
        SELECT p.`id`,p.`project_name` FROM `attendance`.`project` p
        WHERE p.`staff_id`=#{staff_id}
        ORDER BY p.`uptime` DESC
    </select>

    <!--分页模糊查询项目信息-->
    <select id="FindProjectB" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Project">
        SELECT p.`id`,p.`project_name` FROM `attendance`.`project` p
        WHERE p.`conglomerate_id`=#{conglomerate_id}
        ORDER BY p.`uptime` DESC
    </select>

    <!--根据id查询项目信息-->
    <select id="FindProjectById" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Project">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT p.`id`, p.`conglomerate_id`, p.`items_id`, p.`staff_id`, p.`participant`, p.`project_name`, p.`start_time`, p.`start_timeC`, p.`end_time`, p.`end_timeC`, p.`amount`, p.`uptime`, p.`uptimeC`, i.`items_name` AS `items_name`, s.`staff_name` AS `staff_name` FROM `attendance`.`project` p
        LEFT JOIN `attendance`.`items` i ON p.`items_id`=i.`id`
        LEFT JOIN `attendance`.`staff` s ON p.`staff_id`=s.`id`
        WHERE p.`id`=#{id}
    </select>
</mapper>