<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjjt.attendance.dao.RegistrationDao">
    <!--签到-->
    <insert id="InsertRegistration" parameterType="com.jjjt.attendance.entity.Registration">
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `attendance`.`registration` (`conglomerate_id`, `company_id`, `staff_id`, `staff_name`, `department_name`, `week`, `in_time`, `in_address`, `remarkD`, `stateD`, `urlD`)
        VALUES (#{conglomerate_id}, #{company_id}, #{staff_id}, #{staff_name}, #{department_name}, #{week}, now(), #{in_address}, #{remarkD}, #{stateD}, #{urlD});
    </insert>

    <!--签退-->
    <update id="UpdateRegistration" parameterType="java.util.Map">
        UPDATE `attendance`.`registration` SET `out_time`=now(), `out_address`=#{out_address}, `remarkT`=#{remarkT}, `overtime_hours`=#{overtime_hours}, `stateT`=#{stateT}, `urlT`=#{urlT} WHERE (`id`=#{id});
    </update>

    <!--根据id查询打卡信息-->
    <select id="FindRegistrationById" parameterType="int" resultType="com.jjjt.attendance.entity.Registration">
        SELECT  `id`, `conglomerate_id`, `company_id`, `staff_id`, `staff_name`, `week` `department_name`, `in_time`, `in_address`, `out_time`, `out_address`, `remarkD`, `remarkT`, `overtime_hours`, `stateD`, `stateT`, `urlD`, `urlT` FROM `attendance`.`registration`
        WHERE `id`=#{id}
    </select>

    <!--分页模糊查询打卡信息-->
    <select id="FindRegistration" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Registration">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT  r.`id`, r.`conglomerate_id`, r.`company_id`, r.`staff_id`, r.`staff_name`, r.`week`, r.`department_name`, r.`in_time`, r.`in_address`, r.`out_time`, r.`out_address`, r.`remarkD`, r.`remarkT`, r.`overtime_hours`, r.`stateD`, r.`stateT`, r.`urlD`, r.`urlT` FROM `attendance`.`registration` r
        <where>
            r.`conglomerate_id`=#{conglomerate_id}
            <if test="staff_name!=null and staff_name!=''">
                and r.`staff_name` like concat("%",#{staff_name},"%")
            </if>
            <if test="department_name!=null and department_name!=''">
                and r.`department_name`=#{department_name}
            </if>
            <if test="start_time!=null and end_time!=null">
                and  r.`in_time` &gt;= #{start_time} and r.`in_time` &lt;= #{end_time}
            </if>
        </where>
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        SELECT  count(id) FROM `attendance`.`registration`
        <where>
            `conglomerate_id`=#{conglomerate_id}
            <if test="staff_name!=null and staff_name!=''">
                and `staff_name`=#{staff_name}
            </if>
            <if test="department_name!=null and department_name!=''">
                and `department_name`=#{department_name}
            </if>
            <if test="start_time!=null and end_time!=null">
                and  `in_time` &gt;= #{start_time} and `in_time` &lt;= #{end_time}
            </if>
        </where>
    </select>
    
    <!--导出excel-->
    <select id="ExportExcel" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Registration">
        SELECT  r.`id`, r.`conglomerate_id`, r.`company_id`, r.`staff_id`, r.`staff_name`, r.`week`, r.`department_name`, r.`in_time`, r.`in_address`, r.`out_time`, r.`out_address`, r.`remarkD`, r.`remarkT`, r.`overtime_hours`, r.`stateD`, r.`stateT`, r.`urlD`, r.`urlT`,l.`company_name` as `company_name` FROM `attendance`.`registration` r
        LEFT JOIN `attendance`.`company` l ON r.`company_id`=l.`id`
        <where>
            r.`conglomerate_id`=#{conglomerate_id}
            <if test="staff_name!=null and staff_name!=''">
                and r.`staff_name`=#{staff_name}
            </if>
            <if test="department_name!=null and department_name!=''">
                and r.`department_name`=#{department_name}
            </if>
            <if test="start_time!=null and end_time!=null">
                and  r.`in_time` &gt;= #{start_time} and r.`in_time` &lt;= #{end_time}
            </if>
        </where>
    </select>
</mapper>