<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjjt.attendance.dao.RegistrationDao">
    <!--签到-->
    <insert id="InsertRegistration" parameterType="com.jjjt.attendance.entity.Registration">
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `attendance`.`registration` (`company_id`, `staff_id`, `department_name`, `in_time`, `in_address`, `remarkD`, `stateD`)
        VALUES (#{company_id}, #{staff_id}, #{department_name}, now(), #{in_address}, #{remarkD}, #{stateD});
    </insert>

    <!--签退-->
    <update id="UpdateRegistration" parameterType="java.util.Map">
        UPDATE `attendance`.`registration` SET `out_time`=now(), `out_address`=#{out_address}, `remarkT`=#{remarkT}, `stateT`=#{stateT} WHERE (`id`=#{id});
    </update>

    <!--根据id查询打卡信息-->
    <select id="FindRegistrationById" parameterType="int" resultType="com.jjjt.attendance.entity.Registration">
        SELECT  r.`id`, r.`company_id`, r.`staff_id`, r.`department_name`, r.`in_time`, r.`in_address`, r.`out_time`, r.`out_address`, r.`remarkD`, r.`remarkT`, r.`stateD`, r.`stateT` FROM `attendance`.`registration` r
        LEFT JOIN `attendance`.`staff` s ON r.`staff_id`=s.`id`
        WHERE r.`id`=#{id}
    </select>
</mapper>