<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjjt.attendance.dao.StaffItemsDao">
    <!--增加关联信息-->
    <insert id="InsertStaffItems" parameterType="java.util.Map">
        INSERT INTO `attendance`.`staff_items` (`staff_id`, `items_id`, `uptime`) VALUES (#{staff_id}, #{items_id}, #{uptime});
    </insert>

    <!--根据staff_id查询项目信息-->
    <select id="FindItemsId" parameterType="java.util.Map" resultType="int">
        SELECT `items_id` FROM `attendance`.`staff_items`
        WHERE `staff_id`=#{staff_id}
        ORDER BY `uptime` DESC
    </select>
</mapper>