<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjjt.attendance.dao.StaffDao">
    <!--增加员工信息-->
    <insert id="InsertStaff" parameterType="java.util.Map">
        INSERT INTO `attendance`.`staff` (`staff_name`, `staff_age`, `staff_img`, `staff_sex`, `staff_card`, `staff_nation`, `staff_address`, `staff_phone`, `sos_name`, `sos_ship`, `sos_phone`, `entry_time`, `company_id`, `department_id`, `position_id`, `password`, `nickname`, `signature`)
        VALUES (#{staff_name}, #{staff_age}, #{staff_img}, #{staff_sex}, #{staff_card}, #{staff_nation}, #{staff_address}, #{staff_phone}, #{sos_name}, #{sos_ship}, #{sos_phone}, now(), #{company_id}, #{department_id}, #{position_id}, #{password}, #{nickname}, #{signature});
    </insert>

    <!--删除员工信息-->
    <delete id="DeleteStaff" parameterType="java.util.Map">
        DELETE FROM `attendance`.`staff` WHERE `id`=#{id}
    </delete>

    <!--修改员工信息-->
    <update id="UpdateStaff" parameterType="java.util.Map">
        UPDATE `attendance`.`staff` SET `staff_name`=#{staff_name}, `staff_age`=#{staff_age}, `staff_img`=#{staff_img}, `staff_sex`=#{staff_sex}, `staff_card`=#{staff_card}, `staff_nation`=#{staff_nation}, `staff_address`=#{staff_address}, `staff_phone`=#{staff_phone}, `sos_name`=#{sos_name}, `sos_ship`=#{sos_ship}, `sos_phone`=#{sos_phone}, `department_id`=#{department_id}, `position_id`=#{position_id} WHERE (`id`=#{id});
    </update>

    <!--分页模糊查询员工信息-->
    <select id="FindStaff" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Staff">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT s.`id`, s.`staff_name`, s.`staff_age`, s.`staff_img`, s.`staff_sex`, s.`staff_card`, s.`staff_nation`, s.`staff_address`, s.`staff_phone`, s.`sos_name`, s.`sos_ship`, s.`sos_phone`, s.`entry_time`, s.`company_id`, s.`department_id`, s.`position_id`, s.`password`, s.`picture`, s.`nickname`, s.`signature`, s.`state`, s.`clockstatus`, l.`company_name` as `company_name`, d.`department_name` as `department_name`, p.`position_name` as `position_name` FROM `attendance`.`staff` s
        LEFT JOIN `attendance`.`company` l ON s.`company_id`=l.`id`
        LEFT JOIN `attendance`.`department` d ON s.`department_id`=d.`id`
        LEFT JOIN `attendance`.`position` p ON s.`position_id`=p.`id`
        <where>
            s.`company_id`=#{company_id}
            <if test="staff_name!=null and staff_name!=''">
                and s.`staff_name` like concat("%",#{staff_name},"%")
            </if>
            <if test="department_id!=null and department_id!=''">
                and s.`department_id`=#{department_id}
            </if>
            <if test="position_id!=null and position_id!=''">
                and s.`position_id`=#{position_id}
            </if>
        </where>
        order by s.`entry_time` desc
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(id) FROM `attendance`.`staff`
        <where>
            `company_id`=#{company_id}
            <if test="staff_name!=null and staff_name!=''">
                and `staff_name` like concat("%",#{staff_name},"%")
            </if>
            <if test="department_id!=null and department_id!=''">
                and `department_id`=#{department_id}
            </if>
            <if test="position_id!=null and position_id!=''">
                and `position_id`=#{position_id}
            </if>
        </where>
    </select>

    <!--根据id查询员工信息-->
    <select id="FindStaffById" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Staff">
        SELECT s.`id`, s.`staff_name`, s.`staff_age`, s.`staff_img`, s.`staff_sex`, s.`staff_card`, s.`staff_nation`, s.`staff_address`, s.`staff_phone`, s.`sos_name`, s.`sos_ship`, s.`sos_phone`, s.`entry_time`, s.`company_id`, s.`department_id`, s.`position_id`, s.`password`, s.`picture`, s.`nickname`, s.`signature`, s.`state`, s.`clockstatus`, l.`company_name` as `company_name`, d.`department_name` as `department_name`, p.`position_name` as `position_name` FROM `attendance`.`staff` s
        LEFT JOIN `attendance`.`company` l ON s.`company_id`=l.`id`
        LEFT JOIN `attendance`.`department` d ON s.`department_id`=d.`id`
        LEFT JOIN `attendance`.`position` p ON s.`position_id`=p.`id`
        WHERE s.`id`=#{id}
    </select>

    <!--根据staff_phone查询员工信息-->
    <select id="FindStaffByStaffPhone" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Staff">
        SELECT s.`id`, s.`staff_name`, s.`staff_age`, s.`staff_img`, s.`staff_sex`, s.`staff_card`, s.`staff_nation`, s.`staff_address`, s.`staff_phone`, s.`sos_name`, s.`sos_ship`, s.`sos_phone`, s.`entry_time`, s.`company_id`, s.`department_id`, s.`position_id`, s.`password`, s.`picture`, s.`nickname`, s.`signature`, s.`state`, s.`clockstatus`, l.`company_name` as `company_name`, d.`department_name` as `department_name`, p.`position_name` as `position_name` FROM `attendance`.`staff` s
        LEFT JOIN `attendance`.`company` l ON s.`company_id`=l.`id`
        LEFT JOIN `attendance`.`department` d ON s.`department_id`=d.`id`
        LEFT JOIN `attendance`.`position` p ON s.`position_id`=p.`id`
        WHERE s.`staff_phone`=#{staff_phone}
    </select>

    <!--修改打卡状态-->
    <update id="UpdateClockstatus" parameterType="java.util.Map">
        UPDATE `attendance`.`staff` SET `clockstatus`=#{clockstatus}
    </update>

    <!--手机修改员工信息-->
    <update id="UpdateStaffApp" parameterType="java.util.Map">
        update `attendance`.`staff`
        <trim prefix="SET" suffixOverrides=",">
            <if test="staff_age!=null and staff_age!=''">
                `staff_ag`e=#{staff_age}
            </if>
            <if test="staff_sex!=null and staff_sex!=''">
                `staff_sex`=#{staff_sex}
            </if>
            <if test="staff_phone!=null and staff_phone!=''">
                `staff_phone`=#{staff_phone}
            </if>
            <if test="picture!=null and picture!=''">
                `picture`=#{picture}
            </if>
            <if test="nickname!=null and nickname!=''">
                `nickname`=#{nickname}
            </if>
            <if test="signature!=null and signature!=''">
                `signature`=#{signature}
            </if>
        </trim>
        where `id`=#{id}
    </update>
</mapper>