<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjjt.attendance.dao.StaffExamineDao">
    <!--增加员工审批关联表-->
    <insert id="InsertStaffExamine" parameterType="java.util.Map">
        INSERT INTO `attendance`.`staff_examine` (`staff_id`, `examine_id`, `uptime`, `examine_type`) VALUES (#{staff_idT},#{examine_id},#{uptime},#{examine_type});
    </insert>

    <!--根据staff_id查询审批信息-->
    <select id="FindExamineId" parameterType="java.util.Map" resultType="int">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT `examine_id` FROM `attendance`.`staff_examine`
        <where>
            `staff_id`=#{staff_id}
            <if test="state!=null and state!=''">
                and `state`=#{state}
            </if>
            <if test="examine_type!=null">
                and `examine_type`=#{examine_type}
            </if>
        </where>
        order by `uptime` DESC
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(*) FROM `attendance`.`staff_examine` WHERE `staff_id`=#{staff_id}
    </select>
    
    <!--删除审批关联信息-->
    <delete id="DeleteStaffExamine" parameterType="java.util.Map">
        DELETE FROM `attendance`.`staff_examine` WHERE `examine_id`=#{id}
    </delete>

    <!--修改状态_通过-->
    <update id="UpdateStaffExamineByStateT" parameterType="java.util.Map">
        UPDATE `attendance`.`staff_examine` SET `state`='通过' WHERE (`examine_id`=#{id});
    </update>

    <!--修改状态_通过-->
    <update id="UpdateStaffExamineByStateW" parameterType="java.util.Map">
        UPDATE `attendance`.`staff_examine` SET `state`='未通过' WHERE (`examine_id`=#{id});
    </update>
</mapper>