<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjjt.attendance.dao.TaskDao">
    <!--发布任务-->
    <insert id="InsertTask" parameterType="java.util.Map">
        INSERT INTO `attendance`.`task`(`conglomerate_id`, `creator_id`, `principal_id`, `participant`, `task_title`, `task_describe`, `start_img`, `uptime`, `uptimeC`, `end_time`, `end_timeC`, `degree`, `check`)
        VALUES (#{conglomerate_id}, #{creator_id}, #{principal_id}, #{participant}, #{task_title}, #{task_describe}, #{start_img}, #{uptime}, #{uptimeC}, #{end_time}, #{end_timeC}, #{degree}, #{check});
    </insert>

    <!--删除任务-->
    <delete id="DeleteTask" parameterType="java.util.Map">
        DELETE FROM `attendance`.`task` WHERE `id`=#{id}
    </delete>

    <!--分页模糊查询任务-->
    <select id="FindTask" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Task">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>t.
        SELECT t.`id`, t.`conglomerate_id`, t.`creator_id`, t.`principal_id`, t.`participant`, t.`task_title`, t.`task_describe`, t.`start_img`, t.`uptime`, t.`uptimeC`, t.`end_time`, t.`end_timeC`, t.`degree`,t.`check`, s.`staff_name` AS `creator_name`, s1.`staff_name` AS `principal_name`  FROM `attendance`.`task` t
        left join `attendance`.`staff` s ON t.`creator_id`=s.`id`
        left join `attendance`.`staff` s1 ON t.`principal_id`=s1.`id`
        <where>
            t.`conglomerate_id`=#{conglomerate_id}
            <if test="task_title!=null and task_title!=''">
                and t.`task_title` LIKE concat ("%",#{task_title},"%")
            </if>
            <if test="start!=null and end!=null">
                and t.`uptime` &gt;= #{start} and t.`uptime` &lt;= #{end}
            </if>
        </where>
        ORDER BY t.`uptime` DESC
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(`id`) FROM `attendance`.`task`
        <where>
            `conglomerate_id`=#{conglomerate_id}
            <if test="task_title!=null and task_title!=''">
                and `task_title` LIKE concat ("%",#{task_title},"%")
            </if>
            <if test="start!=null and end!=null">
                and `uptime` &gt;= #{start} and `uptime` &lt;= #{end}
            </if>
        </where>
    </select>

    <!---->
</mapper>