<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjjt.attendance.dao.TaskDao">
    <!--发布任务-->
    <insert id="InsertTask" parameterType="com.jjjt.attendance.entity.Task">
    <selectKey resultType="int" order="AFTER" keyProperty="id">
        SELECT LAST_INSERT_ID()
    </selectKey>
        INSERT INTO `attendance`.`task`(`conglomerate_id`, `creator_id`, `principal_id`, `participant`, `participant_name`, `task_title`, `task_describe`, `start_img`, `uptime`, `uptimeC`, `end_time`, `end_timeC`, `degree`, `taskday`)
        VALUES (#{conglomerate_id}, #{creator_id}, #{principal_id}, #{participant}, #{participant_name}, #{task_title}, #{task_describe}, #{start_img}, #{uptime}, #{uptimeC}, #{end_time}, #{end_timeC}, #{degree}, #{taskday});
    </insert>

    <!--删除任务-->
    <delete id="DeleteTask" parameterType="java.util.Map">
        DELETE FROM `attendance`.`task` WHERE `id`=#{id}
    </delete>

    <!--撤销任务-->
    <update id="UpdateTaskState" parameterType="java.util.Map">
        UPDATE `attendance`.`task` SET `state`='已撤销' WHERE `id`=#{id}
    </update>

    <!--完成任务-->
    <update id="UpdateTaskStateW" parameterType="java.util.Map">
        UPDATE `attendance`.`task` SET `state`='审核中',`task_summarize`=#{task_summarize},`task_reason`=#{task_reason},`end_img`=#{end_img} WHERE `id`=#{id}
    </update>

    <!--审核通过-->
    <update id="UpdateTaskT" parameterType="java.util.Map">
        UPDATE `attendance`.`task` SET `state`='已完成',`check`=#{check} WHERE `id`=#{id}
    </update>

    <!--审核未通过-->
    <update id="UpdateTaskW" parameterType="java.util.Map">
        UPDATE `attendance`.`task` SET `state`='进行中',`check`=#{check} WHERE `id`=#{id}
    </update>

    <!--修改任务-->
    <update id="UpdateTask" parameterType="java.util.Map">
        update `attendance`.`task`
        <trim prefix="SET" suffixOverrides=",">
            <if test="principal_id!=null and principal_id!=''">
                `principal_id`=#{principal_id},
            </if>
            <if test="participant!=null and participant!=''">
                `participant`=#{participant},
            </if>
            <if test="participant_name!=null and participant_name!=''">
                `participant_name`=#{participant_name},
            </if>
            <if test="task_title!=null and task_title!=''">
                `task_title`=#{task_title},
            </if>
            <if test="task_describe!=null and task_describe!=''">
                `task_describe`=#{task_describe},
            </if>
            <if test="end_timeC!=null and end_timeC!=''">
                `end_timeC`=#{end_timeC}
            </if>
            <if test="end_time!=null and end_time!=''">
                `end_time`=#{end_time}
            </if>
            <if test="degree!=null and degree!=''">
                `degree`=#{degree}
            </if>
        </trim>
        where `id`=#{id}
    </update>

    <!--分页模糊查询任务-->
    <select id="FindTask" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Task">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT t.`id`, t.`conglomerate_id`, t.`creator_id`, t.`principal_id`, t.`participant`, t.`participant_name`, t.`task_title`, t.`task_describe`, t.`start_img`, t.`uptime`, t.`uptimeC`, t.`end_time`, t.`end_timeC`, t.`degree`, t.`taskday`, t.`task_summarize`, t.`task_reason`, t.`check`, t.`state`, t.`status`, s.`staff_name` AS `creator_name`, s1.`staff_name` AS `principal_name`  FROM `attendance`.`task` t
        left join `attendance`.`staff` s ON t.`creator_id`=s.`id`
        left join `attendance`.`staff` s1 ON t.`principal_id`=s1.`id`
        <where>
            t.`conglomerate_id`=#{conglomerate_id}
            <if test="task_title!=null and task_title!=''">
                and t.`task_title` LIKE concat ("%",#{task_title},"%")
            </if>
            <if test="start!=null and end!=null">
                and t.`uptime` &gt;= #{start} and t.`uptime` &lt;= #{end}
            </if>
            <if test="state!=null and state!=''">
                and t.`state`= #{state}
            </if>
        </where>
        ORDER BY t.`uptime` DESC
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(`id`) FROM `attendance`.`task`
        <where>
            `conglomerate_id`=#{conglomerate_id}
            <if test="task_title!=null and task_title!=''">
                and `task_title` LIKE concat ("%",#{task_title},"%")
            </if>
            <if test="start!=null and end!=null">
                and `uptime` &gt;= #{start} and `uptime` &lt;= #{end}
            </if>
            <if test="state!=null and state!=''">
                and `state`= #{state}
            </if>
        </where>
    </select>

    <!--查询我创建的任务App-->
    <select id="FindTaskByCreatorId" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Task">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT t.`id`, t.`conglomerate_id`, t.`creator_id`, t.`principal_id`, t.`participant`, t.`participant_name`, t.`task_title`, t.`task_describe`, t.`start_img`, t.`uptime`, t.`uptimeC`, t.`end_time`, t.`end_timeC`, t.`degree`, t.`taskday`, t.`check`, t.`task_summarize`, t.`task_reason`, t.`state`, t.`status`, s.`staff_name` AS `creator_name`, s1.`staff_name` AS `principal_name`  FROM `attendance`.`task` t
        left join `attendance`.`staff` s ON t.`creator_id`=s.`id`
        left join `attendance`.`staff` s1 ON t.`principal_id`=s1.`id`
        <where>
            t.`creator_id`=#{creator_id}
            <if test="task_title!=null and task_title!=''">
                and t.`task_title` LIKE concat ("%",#{task_title},"%")
            </if>
            <if test="state!=null and state!=''">
                and t.`state`= #{state}
            </if>
        </where>
        ORDER BY t.`uptime` DESC
        limit #{page},#{pageSize}
    </select>

    <!--统计总数我创建的任务-->
    <select id="TotalByCreatorId" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(`id`) FROM `attendance`.`task`
        <where>
            `creator_id`= #{creator_id}
            <if test="task_title!=null and task_title!=''">
                and `task_title` LIKE concat ("%",#{task_title},"%")
            </if>
            <if test="state!=null and state!=''">
                and `state`= #{state}
            </if>
        </where>
    </select>

    <!--查询我负责的任务App-->
    <select id="FindTaskByPrincipalId" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Task">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT t.`id`, t.`conglomerate_id`, t.`creator_id`, t.`principal_id`, t.`participant`, t.`participant_name`, t.`task_title`, t.`task_describe`, t.`start_img`, t.`uptime`, t.`uptimeC`, t.`end_time`, t.`end_timeC`, t.`degree`, t.`taskday`, t.`check`, t.`task_summarize`, t.`task_reason`, t.`state`, t.`status`, s.`staff_name` AS `creator_name`, s1.`staff_name` AS `principal_name`  FROM `attendance`.`task` t
        left join `attendance`.`staff` s ON t.`creator_id`=s.`id`
        left join `attendance`.`staff` s1 ON t.`principal_id`=s1.`id`
        <where>
            t.`principal_id`=#{principal_id}
            <if test="task_title!=null and task_title!=''">
                and t.`task_title` LIKE concat ("%",#{task_title},"%")
            </if>
            <if test="state!=null and state!=''">
                and t.`state`= #{state}
            </if>
        </where>
        ORDER BY t.`uptime` DESC
        limit #{page},#{pageSize}
    </select>

    <!--统计总数我负责的任务-->
    <select id="TotalByPrincipalId" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(`id`) FROM `attendance`.`task`
        <where>
            `principal_id`= #{principal_id}
            <if test="task_title!=null and task_title!=''">
                and `task_title` LIKE concat ("%",#{task_title},"%")
            </if>
            <if test="state!=null and state!=''">
                and `state`= #{state}
            </if>
        </where>
    </select>

    <!--根据id查询任务-->
    <select id="FindTaskById" parameterType="java.util.Map" resultType="com.jjjt.attendance.entity.Task">
        SELECT t.`id`, t.`conglomerate_id`, t.`creator_id`, t.`principal_id`, t.`participant`, t.`participant_name`, t.`task_title`, t.`task_describe`, t.`start_img`, t.`uptime`, t.`uptimeC`, t.`end_time`, t.`end_timeC`, t.`degree`, t.`taskday`, t.`check`, t.`task_summarize`, t.`task_reason`, t.`state`, t.`status`, s.`staff_name` AS `creator_name`, s1.`staff_name` AS `principal_name`  FROM `attendance`.`task` t
        left join `attendance`.`staff` s ON t.`creator_id`=s.`id`
        left join `attendance`.`staff` s1 ON t.`principal_id`=s1.`id`
        <where>
            t.`id`= #{id}
            <if test="state!=null and state!=''">
                and t.`state`= #{state}
            </if>
        </where>
    </select>
</mapper>